<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="page-layout">
        <div id="header">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="nav-left">
                    <a class="navbar-brand"><img src="{{ url_for('static', filename='logo.png') }}"class="logo" alt="logo" /></a>
                    <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
                 </div>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </nav>
        </div>
        <div class="d-flex" id="sidenav" class="position-fixed">
            <div id="sidebar-wrapper">
                <div class="main-sidebar border-right collapse d-md-flex  min-vh-100">
                   <section class="sidebar">
                       <div class="list-group list-group-flush">
                       </div>
                       <div class="copyright">@information 2020. All Rights Reserved</div>
                    </section>
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-3">
                        <h1 class="title">{{project_name}}</h1>
                    </div>
                    <div class="content shadow">
                        <div class="container">
                          {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>